
* {
  padding: 0;
  margin: 0;
  outline: 0;
}

body{
  font-family: 'Poppins', sans-serif;
}

ul,ol {
  list-style: none;
}

a {
  text-decoration: none;
}
.container{
  max-width: 1296px;
}
.products h3{
  font-size: 32px;
  text-align: center;
  font-weight: 600;
}
.products{
  margin: 60px auto;
}
.btn-container{
  display: flex;
  gap: 25px;
  justify-content: center;
  margin-top: 32px;
}
.btn{
  font-size: 14px;
  color: rgb(14, 14, 16 , 0.4) ;
  text-transform: uppercase;
  border: 0px;
  background-color: white;
  width: 105px;
  font-weight: 500;
}
.btn-active{
  font-size: 16px;
  font-weight: 700;
  padding: 8px 12px;
  background-color: #1A3C40;
  color: white;
  border: 0px;
  border-radius: 5px;
  text-transform: uppercase;
}

.product{
  width: 196px;
  position: relative;
}

.product-category{
  text-transform: uppercase;
  color: rgb(14, 14, 16 , 0.4);
  margin: 12px 0px;
  font-size: 12px;
}

.product-name{
  text-transform: capitalize;
  color: #0E0E10;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
}

.product-price{
  color: #777777;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
}
.product-color{
  position: relative;
}
.c-color{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.color2{
  position: absolute;
  left: 10px;
  top: 0px;
}
.color3{
  position: absolute;
  left: 20px;
  top: 0px;
}
.hover-btns{
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: absolute;
  top: 12px;
  left: 12px;
  opacity: 0;
}
.extra-btns{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  background-color: white;
}
.product:hover .hover-btns{
  opacity: 100;
  transition: all linear .3s;
}