
* {
  padding: 0;
  margin: 0;
  outline: 0;
}

body{
  font-family: 'Poppins', sans-serif;
}

ul,ol {
  list-style: none;
}

a {
  text-decoration: none;
}
.container{
  max-width: 1296px;
  margin: 56px auto;
}
.products h3{
  font-size: 32px;
  text-align: center;
  font-weight: 600;
}
.products{
  margin: 60px auto;
}
.btn-container{
  display: flex;
  gap: 25px;
  justify-content: center;
  margin-top: 32px;
}
.btn{
  font-size: 14px;
  color: rgb(14, 14, 16 , 0.4) ;
  text-transform: uppercase;
  border: 0px;
  background-color: white;
  width: 105px;
  font-weight: 500;
}
.btn-active{
  font-size: 16px;
  font-weight: 700;
  padding: 8px 12px;
  background-color: #1A3C40;
  color: white;
  border: 0px;
  border-radius: 5px;
  text-transform: uppercase;
}

.product-container{
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.product{
  width: 196px;
  position: relative;
  border-radius: 5px;
}

.product-category{
  text-transform: uppercase;
  color: rgb(14, 14, 16 , 0.4);
  margin: 12px 0px;
  font-size: 12px;
}

.product-name{
  text-transform: capitalize;
  color: #0E0E10;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
}

.product-price{
  color: #777777;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 16px;
}

.product-color{
  display: flex;
}

.c-color:first-child{
  margin-left: 0px;
}

.c-color{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: -10px;
}

.product-color:hover .c-color:first-child{
  margin-left: 0px;
}

.product-color:hover .c-color{
  margin-left: 5px;
  transition: all linear .3s;
}

.c-color:first-child{
  margin-left: 0px;
}

.hover-btns{
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: absolute;
  top: 12px;
  left: 12px;
  opacity: 0;
}

.extra-btns{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip{
  font-size: 10px;
  background-color: black;
  color: white;
  padding: 2px 5px;
  position: relative;
  display: none;
}

.tooltip::before{
  content: '';
  width: 5px;
  height: 5px;
  background-color: #0E0E10;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -4px;
  rotate: 45deg;
}

.extra-btns:hover{
  background-color: #1A3C40;
  transition: all linear .3s;
}

.extra-btns:hover + .tooltip{
  display: block;
}

.extra-btns:hover svg path{
  stroke: white;
}

.product:hover .hover-btns{
  opacity: 100;
  transition: all linear .3s;
}

.status{
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.prod-status{
  width: 55px;
  color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
